.DS_Store
.Rproj.user/
dataverse_files/
.RData
.Rhistory
*.pdf
*.docx
*.csv
*.png
*.xlsx
Module7/tracts
*.zip
CityExploration2/tracts
Module11/Low_to_Moderate_Income_Population_by_Tract
Module11/Redlining
Final/census_indicators
Final/census_indicators.zip
Final/Low_to_Moderate_Income_Population_by_Tract
Final/RedliningMaps
Final/Other_Important_Planning_Boundaries_layers
data/
